<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mooseware.TimeToAir.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mooseware.TimeToAir.Properties.Settings>
            <setting name="AtemIpAddress" serializeAs="String">
                <value>192.168.0.240</value>
            </setting>
            <setting name="InputTitleCardName" serializeAs="String">
                <value>MP1</value>
            </setting>
            <setting name="InputCountdownName" serializeAs="String">
                <value>COL1</value>
            </setting>
            <setting name="WallpaperFilespec" serializeAs="String">
                <value>T:\Solel\Livestream\SolelTV_Wallpapers\SolelTV_TitleCard_Pre-Service.png</value>
            </setting>
            <setting name="XPosition" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="YPosition" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TurnGreen" serializeAs="String">
                <value>02:00</value>
            </setting>
            <setting name="TurnYellow" serializeAs="String">
                <value>00:30</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RestoreWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullScreenViewer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputCam1Name" serializeAs="String">
                <value>CAM1</value>
            </setting>
            <setting name="InputCam2Name" serializeAs="String">
                <value>CAM2</value>
            </setting>
            <setting name="SuppressOnAirNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutomaticMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CountdownShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PtzDefaultAM" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WebPresenterIpAddress" serializeAs="String">
                <value>192.168.1.86</value>
            </setting>
            <setting name="HyperDeckIpAddress" serializeAs="String">
                <value>192.168.1.85</value>
            </setting>
            <setting name="Camera1IpAddress" serializeAs="String">
                <value>192.168.1.111</value>
            </setting>
            <setting name="Camera2IpAddress" serializeAs="String">
                <value>192.168.1.222</value>
            </setting>
            <setting name="StartStreaming" serializeAs="String">
                <value>01:00</value>
            </setting>
            <setting name="StartRecording" serializeAs="String">
                <value>00:10</value>
            </setting>
            <setting name="StreamDescriptionShabbatPM" serializeAs="String">
                <value>Join us as we welcome</value>
            </setting>
            <setting name="StreamDescriptionShabbatAM" serializeAs="String">
                <value>Join us as we celebrate</value>
            </setting>
            <setting name="StreamDescriptionFestivalPM" serializeAs="String">
                <value>Join us for the start of</value>
            </setting>
            <setting name="StreamDescriptionFestivalAM" serializeAs="String">
                <value>Join us for the festival of</value>
            </setting>
            <setting name="LocalRecordingName" serializeAs="String">
                <value>Solel_[title]_[yyyymmdd]_[hhmm]</value>
            </setting>
            <setting name="PtzSetup1Name" serializeAs="String">
                <value>Evening Regular</value>
            </setting>
            <setting name="PtzSetup1Preview" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PtzSetup1Cam1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PtzSetup1Cam2" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="PtzSetup2Name" serializeAs="String">
                <value>Evening Wide</value>
            </setting>
            <setting name="PtzSetup2Preview" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PtzSetup2Cam1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PtzSetup2Cam2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PtzSetup3Name" serializeAs="String">
                <value>Morning Regular</value>
            </setting>
            <setting name="PtzSetup3Preview" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PtzSetup3Cam1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PtzSetup3Cam2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PtzSetup4Name" serializeAs="String">
                <value>Morning Wide</value>
            </setting>
            <setting name="PtzSetup4Preview" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PtzSetup4Cam1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PtzSetup4Cam2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShutDownAfterGoLive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PtzDefaultPM" serializeAs="String">
                <value>1</value>
            </setting>
        </Mooseware.TimeToAir.Properties.Settings>
    </userSettings>
</configuration>